{# 
    the base template for all pages    
#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/bootstrap.min.js'%}" ></script>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js'%}" ></script>
    <script src="{% static 'bootstrap/popper.min.js'%}" ></script>
</head>
<body>
    {% include 'base/navbar.html' %}
    {% block content %}
    {% endblock %}
</body>
</html>